<h1>Editing Listing</h1>

<%= render 'form', listing: @listing %>

<%# the Show button is same as in the rest of the app %>
<%= link_to 'Show', @listing, class: "btn btn-warning" %>
<%# <%= link_to 'Back', listings_path, class: "btn btn-warning" %> 
